@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url(./variabel.css);
* {
  font-family: "Outfit", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.bg-navy {
  background-color: var(--navy) !important;
}
section#home img {
  max-height: 100vh;
  min-height: 70vh;
  animation: zoom 100s linear infinite;
}

section#home .carousel {
  position: relative;
}
section#home .carousel .container > div {
  width: 50%;
}

section#home .carousel .text-home {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  z-index: 3;
  color: white;
}

section#home .carousel-inner {
  position: relative;
  overflow: hidden;
}
section#home .carousel-inner::after {
  position: absolute;
  inset: 0;
  content: "";
  pointer-events: none;
  z-index: 2;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}
.navbar {
  transition: background 1s ease;
}
.navbar a:hover,
.navbar a:active,
.navbar a.active {
  font-weight: bold;
  color: yellow !important;
}
.navbar a.dropdown-item:hover,
.navbar a.dropdown-item:active {
  color: yellow !important;
  background-color: transparent !important;
}
#contact .full {
  height: calc(100% - 36px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section#choose-us {
  position: relative;
  overflow: hidden;
  min-height: calc(100vh + 50vmin);
}
section#choose-us .container {
  position: relative;
  z-index: 2;
}
section#choose-us::after {
  content: "";
  position: absolute;
  pointer-events: none;

  inset: 0;
  background-image: url(../waresix/waresix-truck.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: scale(1.5);
}
section#choose-us .space-bottom {
  margin-bottom: 5rem;
}

section#counter {
  position: relative;
  background-image: url(../waresix/counter-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
section#counter::after {
  content: "";
  position: absolute;
  pointer-events: none;

  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
section#counter .container {
  padding: 5rem 0;
}
section#counter .container .item {
  position: relative;
  z-index: 3;
}
.product-service img.card-img-top {
  width: 100% !important;
  height: calc(3vw + 150px) !important;
  max-width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.owl-carousel.product-service .card,
.owl-carousel.product-service .card img {
  cursor: pointer !important;
}

.owl-carousel.product-service .owl-item > div {
  cursor: pointer;

  transition: none;
}
.owl-carousel.product-service .collapse {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.owl-carousel.product-service .my-grid img {
  transition: 0.5s;
  object-fit: cover;
  border-radius: 5px;
}
.owl-carousel.product-service .card.item .this-title {
  transition: all 0.5s linear;
  position: relative;
  z-index: 3;
}
.owl-carousel.product-service .card.item.active .this-title {
  transform: translateY(9px);
  margin: 0 5px;
}
.owl-carousel.product-service .owl-item.center > div {
  cursor: auto;
  margin: 0;
}

.owl-carousel.product-service .card.active {
  /* background-color: white !important; */
  /* border: 1px solid rgb(59, 59, 59) !important; */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.skeleton-loader {
  cursor: progress;
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#eee, #eee);

  background-repeat: no-repeat;
  /* background-size: 315px 250px, 315px 180px, 100px 100px, 225px 30px; */
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
  animation: loading 1s linear infinite;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
.parent-loading {
  position: fixed;
  inset: 0;
  z-index: 9999999999;
  transition: 0.5s;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent-loading.close {
  opacity: 0;
  z-index: -9999999;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(4);
  }
}
@media (min-width: 1450px) {
  section#choose-us {
    min-height: calc(100vh + 10vmin);
  }
  section#choose-us::after {
    transform: scale(1) !important;
  }
}

@media (max-width: 1200px) {
  section#home .carousel .container > div {
    width: 60%;
  }
}
@media (max-width: 991px) {
  section#choose-us::after {
    content: none !important;
  }
  section#home .carousel .container > div {
    width: 80%;
  }
  section#choose-us {
    min-height: 0 !important;
  }
}
@media (max-width: 768px) {
  section#home .carousel .container > div {
    width: 100%;
  }
}
